.Stil0 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color:#b0b0b0; text-decoration: none; }
.Stil0:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color:#f40303; text-decoration: none; }
.Stil1 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color:#d0d0d0; }
.Stil2 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color:#d0d0d0; font-weight:normal; text-decoration:none;}
.Stil2:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color:#f40303; font-weight:normal; text-decoration:none;}
.Stil3 {font-size: 10px; color:#f0f0f0;}
.Stil4 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color:#b0b0b0; text-decoration: none; font-weight:normal; }
.Stil5 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;; color:#f0f0f0; text-decoration: none; }
.Stil5acl {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;; color:#f0f0f0; text-decoration: none; }
.Stil5acl:link {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;; color:#f0f0f0; text-decoration: none; }
.Stil5acl:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;; color:#f4f3f3; text-decoration: none; }
.Stil5:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;; color:#f40303; text-decoration: none; }
.Stil5a {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;; color:#DD0000; text-decoration: none; }
.Stil6 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;; color:#ffffff; text-decoration: none;font-weight: bold;}
.Stil6:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;; color:#f40303; text-decoration: none;font-weight: bold;}
.Stil61 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;; color:#f40303; text-decoration: none;font-weight: bold;}
.Stil61:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;; color:#f40404; text-decoration: none;font-weight: bold;}
.Stil7 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;; color:#ffffff; text-decoration: none;}
.Stil8 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #d0d0d0; }
.Stil8a {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #d0d0d0; background-color:f40303; }
.Stil8b {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #d0d0d0; background-color:336600; }
.Stil9 {color: #FFFFFF}
.Stil12 {font-family: Arial, Helvetica, sans-serif; font-size: 20px;; color:#ffffff; text-decoration: none;font-weight: bold;}
.Stil14 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px;; color:#ffffff; text-decoration: none;font-weight: bold;}
.Stil13 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; color: #ffffff; font-weight: bold; }
.toptab {border-bottom-style:solid; border-bottom-width:1px; border-top-style:solid; border-top-width:1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px;; color:#ffffff;border-color:#ffffff; }
.bottomtab {border-bottom-style:solid; border-bottom-width:1px;}
.bottomtab2 {border-bottom-style:solid; border-bottom-width:1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color:#d0d0d0; font-weight:normal;}
.autotab1 {border-style:solid; border-width:1px; border-color:#999999; text-align:center; }
.autotab1active {border-style:solid; border-width:1px; border-color:#999999;background-color:#006600; text-align:center; }
.autotab1activeb {border-style:solid; border-width:1px; border-color:#999999;background-image: url(img/blink_rg.gif); text-align:center; }
.autotab1activered {border-style:solid; border-width:1px; border-color:#999999;background-color:#660000; text-align:center; }
.autotab1activeblue {border-style:solid; border-width:1px; border-color:#999999;background-color:#000066; text-align:center; }
.autotab1activeredbl {border-style:solid; border-width:1px; border-color:#999999;background-image: url(img/blink.gif); text-align:center; }

.autotabtext {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color:#c0c0c0; text-align:center; text-decoration: none}
.autotabtext:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color:#f40303; text-align:center; text-decoration: none}
.autotabtext_old:hover {border-bottom-style:solid; border-bottom-width:1px; border-color:#f40303; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color:#f40303; text-align:center; text-decoration: none}
.firsttab {border-bottom-style:solid; border-bottom-width:1px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px;; color:#ffffff;border-color:#ffffff; }

.lowerframe {border-style:solid; border-width:0 0 0 0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;; color:#ffffff; }
.mainframe  {border-style:solid; border-width:0 0 0 0; border-color:#ffffff;}
.debugframe {border-style:solid; border-width:0 1px 1px 1px; border-color:#ffffff;}

.timeselect {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color:#000000; background-color:#d0d0d0; height:16px;}
.degselect {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color:#000000; background-color:#d0d0d0; width:60px; height:16px;}

body { background-color: #333333; cursor:url('img/tabletcursor.ani'), auto; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px; color: #ffffff; }
.body { background-color: #CCCCCC; cursor:url('img/tabletcursor.ani'), auto; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px; color: #ffffff; }
.h1 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color:#ffffff; text-decoration: none; font-weight:bold; }
